* {
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

body {
    background: linear-gradient(to right, #007bff, #00c6ff);
}
.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    padding: 4px 8px;
    font-size: 13px;
    background: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 4px;
}
.btn-add {
    background-color: #007bff; 
    color: white;
    border: none;
    margin-right: 5px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-add:hover {
    background-color: #0056b3; 
}

.center-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
}
input {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
   /* max-width: 300px;*/
}
.btn-delete {
    background-color: #dc3545;
    color: white;
    margin-left: 5px;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.btn-archive {
    background-color: #FFA500;
    color: white;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-archive:hover {
    background-color: #FF8C00; 
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
}

.archive {
    margin-left: 2rem;
}

.input-group {
	display: flex;
	justify-content: space-between;
}
#notes {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
}
.item {
	margin-bottom: 2px;
	border-radius: 5px;
	margin: 10px 20px;
}

@media all and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
